h1{
    color;rgb(231, 155, 100) ;
    font-family:Verdana;
    font-size: 78;
    background:rgb(231, 181, 191) ;
    }

 p{
        color:rgb(230, 158, 132) ;
        font-family:Verdana ;
        font-size:69 ;
        background:rgb(212, 186, 160) ;
        }