body{
    background-color:rgb(150, 121, 114)
}
h1{
    color;rgb(231, 155, 100) ;
    font-family:Verdana;
    font-size: 78;
    background:rgb(173, 34, 16) ;
    }

 p{
        color:rgb(90, 56, 46) ;
        font-family:Verdana ;
        font-size:69 ;
        background:rgb(241, 235, 229) ;
        }